npm config set scope capillarytech=true
//registry.npmjs.org/:_authToken=d1d96e48-7b28-4ce9-bd77-4e5602e4143b
scope="capillarytech=true"
@capillarytech:registry=https://registry.npmjs.org/
prefix=/usr/local